.main{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 350px;
    align-items: center;
    &__seccion{
        &__figura{
            &__imagen{
                width: 100px;
                height: auto;
             }   
        }
       
    }
}