<main class="main">
        <div class="main__seccion">
            <figure  class="main__seccion__figura">
               <img class="main__seccion__figura__imagen" src="https://cdn-icons-png.freepik.com/256/2666/2666523.png?semt=ais_hybrid" alt="">
                <figcaption class="seccion__figura_caption">
                    Contrato y convenio   
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__figura">
              <img class="main__seccion__figura__imagen" src="https://cdn-icons-png.flaticon.com/512/3589/3589169.png" alt="">
                <figcaption class="main__seccion__figura_caption">
                    Nómina   
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__figura">
                <img class="main__seccion__figura__imagen" src="https://cdn-icons-png.flaticon.com/512/62/62132.png" alt="">
                <figcaption class="main__seccion__figura_caption">
                    Fichaje
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__figura">
               <img class="main__seccion__figura__imagen" src="https://cdn-icons-png.flaticon.com/512/4343/4343418.png" alt="">
                <figcaption class="main__seccion__figura_caption">
                    vacaciones   
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__figura">
               <img class="main__seccion__figura__imagen" src="https://cdn-icons-png.flaticon.com/512/3697/3697758.png" alt="">
                <figcaption class="main__seccion__figura_caption">
                   ticket/gestión  laboral  
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__figura">
               <img class="main__seccion__figura__imagen" src="https://cdn-icons-png.flaticon.com/512/3652/3652191.png" alt="">
                <figcaption class="main__seccion__figura_caption">
                    calendario   
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__figura">
               <img class="main__seccion__figura__imagen" src="https://cdn-icons-png.flaticon.com/512/4136/4136043.png" alt="">
                <figcaption class="main__seccion__figura_caption">
                    documentos adicionales   
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__figura">
               <img class="main__seccion__figura__imagen" src="https://cdn-icons-png.flaticon.com/512/4789/4789870.png" alt="">
                <figcaption class="main__seccion__figura_caption">
                    Ausencias
                </figcaption>
            </figure>
        </div>
</main>