 <section class="login">
        <div class="login__caja">
            <div class="login__caja__contenedor">
                <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png" class="login__caja__contenedor__imagen" alt="logopersona">
                <input class="login__caja__contenedor__input" type="text">
            </div>
            <div class="login__caja__contenedor">
                <img src="https://cdn-icons-png.flaticon.com/512/345/345535.png" class="login__caja__contenedor__imagen" alt="logocandado">
                <input class="login__caja__contenedor__input" type="text">
            </div>
            <div class="login__caja__contenedorboton">
                <button class="login__caja__contenedorboton__boton">
                    Aceptar
                </button>
            </div>
        </div>
<section>
