<main class="main">
        <div class="main__seccion">
            <figure  class="main__seccion__imagen">
               <img src="https://cdn-icons-png.freepik.com/256/2666/2666523.png?semt=ais_hybrid" alt="">
                <figcaption class="seccion__imagen_caption">
                    Contrato y convenio   
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__imagen">
              <img src="https://cdn-icons-png.freepik.com/256/2666/2666523.png?semt=ais_hybrid" alt="">
                <figcaption class="main__seccion__imagen_caption">
                    Contrato y convenio   
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__imagen">
                <img src="https://cdn-icons-png.freepik.com/256/2666/2666523.png?semt=ais_hybrid" alt="">
                <figcaption class="main__seccion__imagen_caption">
                    Contrato y convenio   
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__imagen">
               <img src="https://cdn-icons-png.freepik.com/256/2666/2666523.png?semt=ais_hybrid" alt="">
                <figcaption class="main__seccion__imagen_caption">
                    Contrato y convenio   
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__imagen">
               <img src="https://cdn-icons-png.freepik.com/256/2666/2666523.png?semt=ais_hybrid" alt="">
                <figcaption class="main__seccion__imagen_caption">
                    Contrato y convenio   
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__imagen">
               <img src="https://cdn-icons-png.freepik.com/256/2666/2666523.png?semt=ais_hybrid" alt="">
                <figcaption class="main__seccion__imagen_caption">
                    Contrato y convenio   
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__imagen">
               <img src="https://cdn-icons-png.freepik.com/256/2666/2666523.png?semt=ais_hybrid" alt="">
                <figcaption class="main__seccion__imagen_caption">
                    Contrato y convenio   
                </figcaption>
            </figure>
        </div>
        <div class="main__seccion">
            <figure class="main__seccion__imagen">
               <img src="https://cdn-icons-png.freepik.com/256/2666/2666523.png?semt=ais_hybrid" alt="">
                <figcaption class="main__seccion__imagen_caption">
                    Contrato y convenio   
                </figcaption>
            </figure>
        </div>
</main>