
.login{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    background: #e0e0e0;
    &__caja{
        width: 400px;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 68px;
        background: #ffffff;
        box-shadow:  41px 41px 82px #949494,
                     -41px -41px 82px #ffffff;
        &__contenedor{
            margin-bottom: 20px;
            text-align: center;
            &__imagen{
                width: 23px;
                height: 23px;
                margin-top: 10px;
            }
            &__input {
                font-size:18px;
                padding:10px 10px 10px 5px;
                width:300px;
                border:none;
                border-bottom:1px solid #757575;
                &:focus{
                    outline: none;
                }
            }
            
           
        }
        &__contenedorboton{
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 90%;
            height: 50px;
            margin-right: 50px;
            padding-right: 10%;
            &__boton{
                padding: 10px 20px;
                border-radius: 6px;
                border-width: 1px;
                border-style: solid;
                font-size: 20px;
                font-family: 'Ubuntu', sans-serif;
                cursor: pointer;
                background-color: rgb(134, 236, 37);
                transition: 0.25s ease;
            }
        }
       
    }

}
/* 


*/