.main{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    &__container{
        
        &__seccion{
            
            &__figura{
                &__imagen{
                    width: 100px;
                    height: auto;
                }   
            }  
        }
    }
}