<article class="container">
    <div class="container__card">
        <figure class="container__card__figura">
            <img class="container__card__figura__imagen" src="https://img.freepik.com/vector-gratis/euro-simbolo-vector-dibujado-mano-doodle-fuente-tipografia_53876-171561.jpg" alt="">
            <figcaption class="container__card__figura__body">
                <p>
                    Detalles
                </p>
                <p>
                    Descargar
                </p>
            </figcaption>
        </figure>
    </div>
    <div class="container__card">
        <figure class="container__card__figura">
            <img class="container__card__figura__imagen" src="https://img.freepik.com/vector-gratis/euro-simbolo-vector-dibujado-mano-doodle-fuente-tipografia_53876-171561.jpg" alt="">
            <figcaption class="container__card__figura__body">
                <p>
                    Detalles
                </p>
                <p>
                    Descargar
                </p>
            </figcaption>
        </figure>
    </div>
</article>