<article class="container">
  <div class="container__card">
    <div class="container__card__cardbody">
      <img
        class="container__card__cardbody__image"
        src="https://img.freepik.com/vector-gratis/euro-simbolo-vector-dibujado-mano-doodle-fuente-tipografia_53876-171561.jpg"
        alt=""
      />
      <div class="container__card__cardbody__cardbuttons">
        <button class="container__card__cardbody__cardbuttons__button">
          Detalles
        </button>
        <button class="container__card__cardbody__cardbuttons__button">
          Descargar
        </button>
      </div>
    </div>
  </div>
  <div class="container__card">
    <div class="container__card__cardbody">
      <img
        class="container__card__cardbody__image"
        src="https://img.freepik.com/vector-gratis/euro-simbolo-vector-dibujado-mano-doodle-fuente-tipografia_53876-171561.jpg"
        alt=""
      />
      <div class="container__card__cardbody__cardbuttons">
        <button class="container__card__cardbody__cardbuttons__button">
          Detalles
        </button>
        <button class="container__card__cardbody__cardbuttons__button">
          Descargar
        </button>
      </div>
    </div>
  </div>
  <div class="container__card">
    <div class="container__card__cardbody">
      <img
        class="container__card__cardbody__image"
        src="https://img.freepik.com/vector-gratis/euro-simbolo-vector-dibujado-mano-doodle-fuente-tipografia_53876-171561.jpg"
        alt=""
      />
      <div class="container__card__cardbody__cardbuttons">
        <button class="container__card__cardbody__cardbuttons__button">
          Detalles
        </button>
        <button class="container__card__cardbody__cardbuttons__button">
          Descargar
        </button>
      </div>
    </div>
  </div>
</article>
